<p>Hey, {{displayName}}!</p>
<span>
    You just changed the email address connected to your <b>pxlAPI</b> account.<br>
    Before we get started, we have to make sure this email address actually works.<br>
</span>
<br>
<a style="color: white; background-color: black; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px"
   href="https://pxlapi.dev/verify?token={{verificationToken}}">
    Confirm email address
</a><br>
<br>
<p>
    If you have any questions so far, feel free to <a href="mailto:support@pxlapi.dev">email support</a> or <a
        href="https://discord.gg/8hPrwAH">join our Discord server</a>.
</p>
Thanks,<br>
pxlAPI
