<p>Hey, {{displayName}}!</p>
<span>
    You just requested to reset the password used to log into to your <b>pxlAPI</b> account.<br>
    If you haven't requested this password reset, you can just ignore this email. Your account has <i>not</i> been compromised.<br>
</span>
<br>
<a style="color: white; background-color: black; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px"
   href="https://pxlapi.dev/password-reset?token={{resetToken}}">
    Reset password
</a>
<br><br>
<span>Please note that this link expires in 24 hours.</span>
<br><br>
Thanks,<br>
pxlAPI
