<body style="width: 100%; text-align: center; font-family: Verdana, sans-serif">
<a href="https://pxlapi.dev/" target="_blank"
   style="display: block; margin-left: auto; margin-right: auto; width: 128px;">
    <img src="https://pxlapi.dev/images/logo-big.png" alt="pxlAPI logo" style="width: 100%;">
</a>
<hr style="height: 1px; background-color: lightgray; border: none">
{{content}}
<hr style="height: 1px; background-color: lightgray; border: none">
{{footer}}
<small style="color: gray">
    &copy; 2021 <a href="https://pxlapi.dev">pxlAPI</a>
</small>
</body>
